.currentshoebody {
    background-image: url("./currentrunningshoe.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.currentshoecard {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;

}

.noshoe {
    color: white;
}

.invisibleline {
    margin: 150px;
}